@import "../styles/styles.scss";

.ennea-circle-wrapper {
    display: flex;
    flex-direction: row;
}

.ennea-circle {
    display: flex;
    &:hover {
      cursor: pointer;
    }
  }

  .ennea-circle-text {
      display: flex;
      @include font-text-black;
      margin-top: 20px;
      margin-bottom: 20px;
  }

  .circle {
    position: relative;
    width: 50%;
    &::after {
        content: "";
        background-color: transparent;
        position: absolute;
        width: 283px;
        height: 283px;
        border-radius: 50%;
        top: 28px;
        left: 34px;
        display: flex;
        cursor: default;
      }
  }

  .type-header {
    @include font-header-2nd-level;
    @include noselect;
    margin-bottom: 40px;
  }

  .ennea-description {
    overflow: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    @include noselect;
    max-height: 720px;
  }

  .traits {
    @include font-text-black;
    @include noselect;
    font-weight: 600;
  }

  .type-0-text {
      margin: 0;
  }

  //mobile 

  .ennea-circle-wrapper-mobile {
    display: flex;
    flex-direction: column;
}

.ennea-description-mobile {
    @include font-text-mobile;
    width: 100%;
}

.type-header-mobile {
    @include font-header-mobile-black;
    margin-bottom: 20px;
    margin-top: 30px;
}

.ennea-description-mobile .ennea-circle-text {
    @include font-text-mobile;
  
}

.ennea-description-mobile .traits {
    @include font-header-mobile-black-2nd-level;
    margin-top: 20px;
    margin-bottom: 10px;
}