@import "../styles/styles.scss";

.how-it-works-step-1 {
  display: flex;
  min-width: 100%;
  background: white;
  box-sizing: border-box;
  height: 100%;
  align-items: center;
}

.how-it-works-step-1-wrapper {
  @include wrap-content;
  @include noselect;
  display: flex;
  flex-direction: row;
  color: black;
  height: 100%;
  align-items: center;
}

.organizational-structure-header {
  @include font-header-2nd-level;
  margin-bottom: 20px;
}

.organizational-structure-item {
 @include font-text-black;
  margin-bottom: 20px;
  position: relative;
  padding-left: 25px;
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    position: absolute;
    top: 7px;
    left: 0px;
    position: absolute;
  }
}

.organizational-structure-img {
  background-image: url(./images/img.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 601px;
  height: 495px;
}

.organizational-structure {
  display: flex;
  flex-direction: column;
  width: 432px;
  height: 384px;
  padding: 0 75px 0 0;
}

//mobile

.how-it-works-step-1-mobile {
  margin-top: 105px;
}

.how-it-works-step-1-wrapper-mobile {
  @include wrap-content-mobile;
  margin-bottom: 50px;
}

.organizational-structure-header-mobile {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 25px;
}

.organizational-structure-item-mobile {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  margin-bottom: 20px;
  padding-left: 15px;
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50%;
    display: flex;
    position: absolute;
    top: 7px;
    left: 0px;
    position: absolute;
  }
}

.organizational-structure-mobile {
  width: 100%;
}

.organizational-structure-img-mobile {
  background-image: url("./images/img-mobile.svg");
  width: 323px;
  height: 267px;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 15px;
}
