@import "../styles/styles.scss";

.team {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding-bottom: 40px;
}

.team-wrapper {
  @include wrap-content;
  padding-top: 150px;
}

.team-header {
  @include font-header-black;
  margin-bottom: 40px;
}

.platform-wrapper {
  background: linear-gradient(117.43deg, #4e7171 0%, #131a22 100%);
  border-radius: 40px;
  width: 1160px;
  height: 954px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.team-platform-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 318px;
  background: linear-gradient(117.43deg, #5d7072, #42484e);
  z-index: 2;
  border-radius: 0 0 40px 40px;
  display: flex;
  justify-content: space-evenly;
}

.team-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}

.barometer-header {
 @include font-header-mobile-white;
 padding-bottom: 7px;
}

.barometer-procent {
  font-weight: 600;
  font-size: 58px;
  padding-bottom: 7px;
}

.barometer-experts {
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 7px;
}

.footer-text-wrapper {
  @include font-text-white-mobile;
  height: 100%;
  line-height: 55px;
  padding-top: 40px;
  width: 53%;
}

//mobile 

.team-wrapper {
  @include wrap-content-mobile;
}

.platform-wrapper-mobile {
  width: 100%;
  height: 100%;
}