@import "../styles/styles.scss";

.ergonza-platform {
  width: 100%;
  height: 100%;
  position: relative;
}

.ergonza-platform-wrapper {
  @include wrap-content;
  @include noselect;
  display: flex;
  flex-direction: column;
}

.ergonza-platform-intro {
  text-align: center;
  position: relative;
  background: linear-gradient(117.43deg, #4e7171 0%, #131a22 100%);
  display: flex;
  height: 840.19px;
  font-family: "Proxima Nova Thin", sans-serif;
  width: 100%;
  border-radius: 40px;
  flex-direction: column;
  cursor: pointer;
}

.ergonza-platform-header {
  @include font-header-black;
  padding: 130px 0 0 0;
}

.ergonza-platform-employers,
.ergonza-platform-barometer,
.ergonza-platform-org-chart {
  margin-bottom: 35px;
}

.ergonza-platform-employers,
.ergonza-platform-barometer,
.ergonza-platform-enneagram,
.ergonza-platform-org-chart,
.ergonza-platform-mbti {
  height: 240px;
}

.ergonza-platform-employers-header,
.ergonza-platform-barometer-header,
.ergonza-platform-enneagram-header,
.ergonza-platform-org-chart-header,
.ergonza-platform-mbti-header {
  @include font-header-2nd-level;
}

.ru .ergonza-platform-employers-header,
.ru .ergonza-platform-barometer-header,
.ru .ergonza-platform-enneagram-header,
.ru .ergonza-platform-org-chart-header,
.ru .ergonza-platform-mbti-header {
  @include font-header-2nd-level;
  font-size: 20px;
}

.ergonza-platform-employers-text,
.ergonza-platform-barometer-text,
.ergonza-platform-enneagram-text,
.ergonza-platform-org-chart-text,
.ergonza-platform-mbti-text,
.ergonza-platform-subheader {
  @include font-text-black;
}

.ru .ergonza-platform-employers-text,
.ru .ergonza-platform-barometer-text,
.ru .ergonza-platform-enneagram-text,
.ru .ergonza-platform-org-chart-text,
.ru .ergonza-platform-mbti-text,
.ru .ergonza-platform-subheader {
  @include font-text-black;
  font-size: 18px;
}

.ergonza-platform-employers-img {
  background-image: url("./images/img-1.svg");
  width: 110px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
}

.ergonza-platform-barometer-img {
  background-image: url("./images/img-2.svg");
  width: 110px;
  height: 88px;
  background-position: center;
  background-repeat: no-repeat;
}

.ergonza-platform-enneagram-img {
  background-image: url("./images/img-3.svg");
  width: 110px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
}

.ergonza-platform-org-chart-img {
  background-image: url("./images/img-4.svg");
  width: 110px;
  height: 110px;
  background-position: center;
  background-repeat: no-repeat;
}

.ergonza-platform-mbti-img {
  background-image: url("./images/img-5.svg");
  width: 90px;
  height: 86px;
  background-position: center;
  background-repeat: no-repeat;
}

.ergonza-platform-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 60px;
  padding-left: 7px;
}

.ergonza-platform-item {
  margin-bottom: 12px;
}

.ergonza-platform-info-col-1,
.ergonza-platform-info-col-3 {
  width: 43%;
}

.ergonza-platform-info-col-2 {
  width: 14%;
}

.ergonza-platform-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.content-wrapper {
  display: flex;
  border-radius: 60px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15), 0px 0px 20px rgba(0, 0, 0, 0.25);
  background: linear-gradient(117.43deg, #567171 0%, #313b42 100%);
  width: 862px;
  height: 728px;
  flex-direction: column;
  margin-right: 28px;
  position: relative;
  z-index: 0;
}

.promt-block {
  position: absolute;
  background-color: white;
  color: black;
  z-index: 20;
  display: flex;
  width: 408px;
  height: 109px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 2;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
}

.promt-list-of-employers {
  top: 120px;
  left: 260px;
}

.promt-block-header {
  color: black;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  position: relative;
  &::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 20px solid white;
    border-left: 30px solid transparent;
    position: absolute;
    top: 20px;
    left: -39px;
  }
}

.promt-block-text {
  color: black;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
}

.ergonza-platform-subheader {
  margin: 0 0 30px 0;
}

.video-platform {
  padding: 0;
  height: 700px;
}

.v-p {
  padding: 0;
}

//mobile

.ergonza-platform-mobile {
  width: 100%;
  position: relative;
}

.v-p-m {
  padding: 40px 0 40px 0;
  width: 100%;
  width: 100%;
  height: 100%;
}

.v-p-m .iframe {
  width: 100%;
  height: 100%;
  justify-content: start;
  display: flex;
}

.video-v-mobile-p {
  padding: 0;
  height: 208px;
}

.ergonza-platform-wrapper-mobile {
  @include wrap-content-mobile;
  @include noselect;
  display: flex;
  flex-direction: column;
}

.ergonza-platform-header-mobile {
  @include font-header-mobile-black;
  margin: 30px 0 0 0;
}

.ergonza-platform-intro-mobile {
  text-align: center;
  position: relative;
  background: linear-gradient(117.43deg, #4e7171 0%, #131a22 100%);
  display: flex;
  width: 327.21px;
  height: 237px;
  font-family: "Proxima Nova Thin", sans-serif;
  border-radius: 11px;
  flex-direction: column;
}

.content-wrapper-mobile {
  display: flex;
  border-radius: 13px;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15), 0px 0px 20px rgba(0, 0, 0, 0.25);
  background: linear-gradient(117.43deg, #567171 0%, #313b42 100%);
  width: 243px;
  height: 205px;
  flex-direction: column;
  margin-right: 18px;
  position: relative;
  z-index: 0;
}

.ergonza-platform-info-mobile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

.ergonza-platform-employers-mobile,
.ergonza-platform-barometer-mobile,
.ergonza-platform-org-chart-mobile,
.ergonza-platform-mbti-mobile,
.ergonza-platform-enneagram-mobile {
  margin-bottom: 40px;
  width: 100%;
}

.ergonza-platform-employers-img-mobile {
  background-image: url("./images/mobile/img-1-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
}

.ergonza-platform-org-chart-img-mobile{
  background-image: url("./images/mobile/img-2-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
}

.ergonza-platform-barometer-img-mobile {
  background-image: url("./images/mobile/img-3-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 69px;
  height: 57px;
}

.ergonza-platform-mbti-img-mobile {
  background-image: url("./images/mobile/img-4-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 72px;
  height: 72px;
}

.ergonza-platform-enneagram-img-mobile {
  background-image: url("./images/mobile/img-5-mobile.svg");
  background-position: center;
  background-repeat: no-repeat;
  width: 72px;
  height: 65px;
}


.ergonza-platform-employers-header-mobile,
.ergonza-platform-org-chart-header-mobile,
.ergonza-platform-barometer-header-mobile,
.ergonza-platform-enneagram-header-mobile,
.ergonza-platform-mbti-header-mobile {
  @include font-header-mobile-black; 
}

.ergonza-platform-item-mobile {
  margin-bottom: 10px;
}

.ergonza-platform-mbti-text-mobile,
.ergonza-platform-enneagram-text-mobile,
.ergonza-platform-barometer-text-mobile,
.ergonza-platform-org-chart-text-mobile,
.ergonza-platform-employers-text-mobile,
.ergonza-platform-subheader-mobile {
  @include font-text-mobile;
}

.ergonza-platform-subheader-mobile {
  margin: 0 0 30px 0;
}