@import "../styles/styles.scss";

.annotation-block {
  @include noselect;
  max-height: 350px;
}

.annotation-block,
.annotation-block-mobile {
  background: #f4f4f4;
  position: relative;
  padding: 30px;
  border-radius: 20px;
  z-index: 12;
  display: flex;
}

.arrow {
    left: 47px;
    display: inline-block;
    position: relative;
    height: 38px;
    top: 13px;
    z-index: 10;
    overflow: hidden;
    width: 37px;
    background-image: url('./Annotation.svg');
    background-position: -67px 0px;
}

.annotation-text,
.annotation-text-2 {
  @include font-header-2nd-level;
  font-weight: 600;
}

.WithDivider {
  @include font-text-black;
  width: 48%;
}


.annotation-block-WithDivider {
  justify-content: space-between;
}

.annotation-text-2 {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    border: 1px solid  #DADADA;;
    height: 100%;
    left: -28px;
  }
}

.noWeight {
  font-weight: 400;
}

.annatation-wrapper {
  @include wrap-content;
  padding: 0;
}

.rotate {
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.annotation-header {
  font-weight: 600;
}

//mobile

.annotation-text-mobile {
  @include font-header-mobile-black;
}

.annotation-block-mobile {
  padding: 20px;
}

.no-arrow {
  display: none;
}

.annotation-header {
  font-weight: 600;
}