@mixin font-header-mobile-black {
  font-family: 'Proxima Nova Thin', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

@mixin font-header-mobile-white {
  font-family: 'Proxima Nova Thin', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

@mixin font-text-mobile {
  font-family: 'Proxima Nova Thin', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

@mixin wrap-content {
    max-width: 1120px;
    padding: 0 20px 0 20px;
    font-family: 'Proxima Nova Thin', sans-serif;
    margin: 0 auto;
    height: 100%;
}

@mixin noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
  } 

  //mobile 
  @mixin wrap-content-mobile {
    width: 315px;
    padding: 0 20px 0 20px;
    font-family: 'Proxima Nova Thin', sans-serif;
    margin: 0 auto;
    height: 100%;
}
    
