@import "../styles/styles.scss";

.drop-down-wrapper {
  position: relative;
}

.change-lang-footer {
  margin-bottom: 19px;
  height: 40px;
  margin-left: -10px;
  font-size: 16px;
}

.drop-down-mobile-about-us-wrapper {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  padding-left: 5px;
}

.drop-down-menu {
  background: white;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 148px;
    height: 105px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
    top: 51px;
    left: -35px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.drop-down-menu.active {
  visibility: visible;
  opacity: 1;
  position: absolute;
  z-index: 200;
}

.drop-down-item-team,
.drop-down-item-erg,
.drop-down-item-methodology {
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  &:hover {
    background: #f7f7f7;
  }
}

.drop-down-item-team {
  border-radius: 0 0 12px 12px;
}

.drop-down-item {
  width: 100%;
}

.drop-down-item-erg,
.drop-down-item-methodology {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px 12px 0 0;
}

.drop-down-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

//mobile

.drop-down-mobile-about-us {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
}

.drop-down-mobile {
  background: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 63px;
  height: 60px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
  top: -10px;
  left: 59px;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.drop-down-mobile.active {
  visibility: visible;
  opacity: 1;
  position: absolute;
}

.drop-down-item-mobile {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-down-mobile-wrapper {
  position: relative;
  width: 100px;
  height: 40px;
  align-items: center;
  display: flex;
}
