@import "../styles/styles.scss";

.footer {
  width: 100%;
  height: 445px;
  background: linear-gradient(117.43deg, #4e7171 0%, #131a22 100%);
  position: relative;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  @include wrap-content;
  @include noselect;
  color: white;
}

.slogan {
  padding-right: 10px;
  box-sizing: border-box;
}

.slogan-wrapper {
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  position: relative;
  justify-content: space-between;
  height: 230px;
  &::after {
    content: "";
    width: 1120px;
    background-color: rgba(255, 255, 255, 0.4);
    height: 1px;
    top: 206px;
    position: absolute;
  }
}

.footer-info {
  width: 100%;
  height: 232px;
  display: flex;
  align-items: center;
}

.footer-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo-footer {
  width: 162px;
  height: 133px;
  background-image: url("./icons/logo-footer.svg");
}

.nav-footer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  flex-direction: column;
}


.contact-us-footer {
  margin-bottom: 10px;
}

.copyright {
  -o-user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  user-select: text;
  display: flex;
  flex-direction: column;
}

.ergonza-2020,
.ergonza-mail {
  display: flex;
}

.ergonza-mail {
  margin-bottom: 20px;
}

.ergonza-2020 {
  margin-bottom: 20px;
}

.footer-buttons {
display: flex;
flex-direction: column;
}

.footer-buttons-demo {
  display: flex;
  margin-bottom: 10px;
}

.platform-footer,
.about-app-footer,
.log-in-footer,
.demo-footer,
.study-page-footer,
.contact-us-footer,
.home-footer {
  min-width: auto;
  opacity: 1;
  height: 35px;
  line-height: 37px;
  transition: opacity 0.1s ease-out;
  &:hover {
    min-width: auto;
    background: none;
  }
}

.hovered {
  opacity: 0.7;
}


//mobile

.footer-mobile {
  width: 375px;
  height: 380px;
  background: linear-gradient(117.43deg, #4e7171 0%, #131a22 100%);
  position: relative;
}

.footer-wrapper-mobile {
  display: flex;
  flex-direction: column;
  @include wrap-content-mobile;
  @include noselect;
  color: white;
}

.footer-slogan-mobile {
  margin-top: 0;
  margin-bottom: 20px;
}

.logo-footer-mobile {
  width: 100px;
  height: 82px;
  background-image: url("./icons/logo-footer-mobile.svg");
}

.slogan-wrapper-mobile {
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  height: 185px;
  margin: 0 auto;
  &::after {
    content: "";
    width: 328px;
    background-color: rgba(255, 255, 255, 0.4);
    height: 1px;
    top: 179px;
    left: -40px;
    position: absolute;
  }
}

.footer-info-mobile {
  width: 100%;
  height: 179px;
  display: flex;
  align-items: center;
}

.footer-info-wrapper-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.logo-wrapper-mobile {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.platform-footer-mobile,
.about-app-footer-mobile,
.log-in-footer-mobile,
.demo-footer-mobile,
.study-page-footer-mobile,
.contact-us-footer-mobile {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  height: 100%;
  &:hover {
    min-width: auto;
  }
}

.copyright-mobile {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.ergonza-2020-mobile {
  margin-bottom: 10px;
}

.platform-link-mobile,
.about-app-link-mobile,
.study-page-link-mobile,
.demo-link-mobile {
  display: flex;
  height: 40px;
  width: 100%;
  align-items: center;
}

.mobile-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}